@{
    ViewBag.Title = "Contact Us";
}
<h2 style="font-family: 'Coda Caption', sans-serif;">@ViewBag.Title.</h2>
<h3 style="font-family: 'Saira Condensed', sans-serif;">@ViewBag.Message</h3>

<address style="font-family: 'Saira Condensed', sans-serif;font-size:20px;">
    370 22nd Ave<br />
    San Francisco, CA 94121<br />
    <abbr title="Phone" style="font-family: 'Saira Condensed', sans-serif;font-size:20px;">P:</abbr>
    510.555.1234
</address>

<address style="font-family: 'Saira Condensed', sans-serif;font-size:20px;">
    <strong>Support:</strong>   <a href="mailto:Support@virtualcloset.com">Support@virtualcloset.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@virtualcloset.com">Marketing@virtualcloset.com</a>
</address>