@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    370 22nd Ave<br />
    San Francisco, CA 94121<br />
    <abbr title="Phone">P:</abbr>
    510.555.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@virtualcloset.com">Support@virtualcloset.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@virtualcloset.com">Marketing@virtualcloset.com</a>
</address>